#gradient {
    font-family: 'Inter', sans-serif ;
    font-style: normal;
    background: linear-gradient(to right, #C76BFF, #ffb444, #ffb444, #ffb444, #ffb444, #ffb444, #ffb444);
    color: transparent;
    background-clip: text;
}

#text {
    font-family: 'Roboto';
    font-style: normal;
}

/* .flow-container {
  transform: translate(-850px, 190px) rotate(90deg);
} */

.flow-text {
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    transition: 0.3s;
    /* transform: rotate(90deg); */
    font-size: 96px;
    letter-spacing: 0.1em;
    font-weight:bold;
    color: #363636;
}
.flow-wrap {
  animation: textLoop 10s linear infinite;
  padding-right: 1.4881vw;
}

@keyframes textLoop {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}