@import '~antd/dist/antd.css';

.menu {
  padding: 0 20px;
  overflow: auto;
  background-color: #282828;
  text-align: center;
}

.menu__container {
  display: inline-flex;
  justify-content: 'space-between';
  gap: 100px;
  margin-top: 32px;
  align-items: center;
}

.menu__logo {
  margin: 0px auto;
}

.menu__container .menu_left {
  float: left;
}

.menu__mobile-button {
  float: right;
  background: #fff;
}

.menu__container .ant-menu-item,
.menu__container .ant-menu-submenu-title {
  padding: 1px 20px;
}

.ant-btn {
  padding: 0;
}

.ant-menu-horizontal {
  border-bottom: #fff;
  color: #fff;
  background-color: #fff;
}

.ant-drawer-content-wrapper {
  width: 220px !important;
}

.ant-drawer-content {
  background-color: #343434;
}

.ant-menu {
  background: #343434;
}

.ant-menu-item {
  color: #fff;
}

.ant-menu-inline {
  border-right: none;
}