.font {
    font-family: 'GowunBatang-Regular';
    font-style: normal;
}

tr, td {
    padding: 10px;
}

.ant-tabs-ink-bar {
    background-color: #CCCCCC !important;
    height: 3px !important;

}

.ant-tabs-nav .ant-tabs-tab-active {
    color: #fff !important;
}

.ant-tabs-nav .ant-tabs-tab:hover {
    color: #fff !important;
}

.ant-tabs-nav .ant-tabs-tab {
    margin-right: 166px;
}

.ant-tabs-nav-wrap {
    margin-bottom: 0px;
}
